Flask
Jinja2
MarkupSafe
Werkzeug
anyio
beautifulsoup4
certifi
charset-normalizer
click
fastapi
gunicorn
h11
idna
importlib-metadata
itsdangerous
lxml
pip
psutil
pydantic
requests
schedule
setuptools
sniffio
soupsieve
starlette
typing-extensions
urllib3
uvicorn
wheel
zipp